# Started to build namespace for the surveillance package. This might
# take a while before working correctly so we start by an exportPattern(".")

# Export all names
exportPattern(".")

#Load C code
useDynLib("surveillance")

# Import all packages listed as Imports or Depends
import(
  intervals,
  methods,
  Rcpp,
  utils,
  xtable,
  spc,
  sp,
  maptools,
  vcd,
  msm,
  Matrix,
  gpclib,
  spatstat,
  quadprog
)

#Surveillance time series
exportClasses("sts",
              "stsBP")


#twinSIR method
export(cox)
export(as.epidata)
export(intersperse)
export(twinSIR)
export(intensityPlot)
export(stateplot)
export(simEpidata)

S3method("[", epidata)
S3method(print, epidata)
S3method(summary, epidata)
S3method(print, summary.epidata)
S3method(plot, epidata)
S3method(animate, epidata)
S3method(plot, summary.epidata)
S3method(animate, summary.epidata)

S3method(print, twinSIR)
S3method(summary, twinSIR)
S3method(print, summary.twinSIR)
S3method(plot, twinSIR)
S3method(profile, twinSIR)
S3method(coef, twinSIR)
S3method(vcov, twinSIR)
S3method(logLik, twinSIR)
S3method(AIC, twinSIR)
S3method(extractAIC, twinSIR)
S3method(simulate, twinSIR)

#twinstim methods


#hhh methods
export(algo.hhh)
export(algo.hhh.grid)
export(create.grid)

S3method(print, ah)
S3method(coef, ah)
S3method(predict, ah)
S3method(residuals, ah)
S3method(logLik, ah)

S3method(print, ahg)
S3method(coef, ahg)
S3method(predict, ahg)
S3method(residuals, ahg)
S3method(logLik, ahg)

export(hhh4)
export(addSeason2formula)
export(oneStepAhead)
export(ranef)
export(fixef)

S3method(print, ah4)
S3method(coef, ah4)
S3method(predict, ah4)
S3method(plot, ah4)

